@use'variables';

.event {

    padding: 0px 0;

    &--sobre {
        background-image: linear-gradient(variables.$blue1, variables.$blue1);
    }

    &--atracoes {
        background-image: linear-gradient(variables.$blue1, variables.$pink1);
    }

    &--confirmacao {
        background-image: linear-gradient(variables.$pink1, variables.$pink2);
    }

    &--location {
        background-image: linear-gradient(variables.$pink2, variables.$pink3);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }

    }


.container {
    display: flex;
    gap: 40px;
}


&__image {
    max-width: 370px;
    border-radius: 50px 10px 50px 10px;
}


&__button {
    background-color: variables.$pink3;
    color: variables.$secondaryTextColor;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
   margin-left: 140px;

    &:hover {
        background-color: variables.$blue2;
        color: variables.$textColor;
        transform: scale(1.2);
    }
}
    
  



&__detalhes {
    font-size: 18px;
    color: #fff;


    &__descricao {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 30px;


    }

    &__titulo {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #fff;
    }
}



@media (max-width:640px) {
    .container {
        margin: 0 auto;
        display: block;
    }

    &__image {
        width: 100%;
        padding-right: 20px;
    }

    &__detalhes {
        margin-right: 0;
        margin-bottom: 16px;
        padding-right: 20px;
    }

    &__button {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}
}